header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header-title {
  display: inline-block;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.app-logo {
  width: 35px;
  padding-left: 10px;
}
