.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 120px;
  background-color: #F3EFE0;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px;
}

.card-container h1 {
  color: #3C4048;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 15px;
  white-space: nowrap;
  text-transform: capitalize;
  border-bottom: 2px solid #3C4048;
  text-align: center;
  overflow-x: scroll;
}

.card-container p {
  height: 47px;
  min-height: 30px;
  width: 90%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  overflow-y: scroll;
}

.card-info {
  width: 90%;
}

.card-container button {
  background-color: rgb(21, 149, 42);
  padding: 3px 7px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 2px solid antiquewhite;
  border-radius: 5px;
}

.card-container button:hover {
  cursor: pointer;
  background-color: rgb(30, 210, 60);
}

@media (min-width:375px) {
  .card-container{
    width: 230px;
  }

  .card-container p {

  }
}

